extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='country') Country:
      input#country.form-control(type='text', placeholder='Guatemala, Costa Rica, etc.' name='country' value=(undefined===country ? '' : country.country_name))
    div.form-group
      label(for='city') City:
      input#city.form-control(type='text', placeholder='Guatemala, Costa Rica, etc.' name='city' value=(undefined===country ? '' : country.city_name))

    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg