#pie-chart-warranties {
  background-color: #ffffff;
  /*border: 1px solid gray;*/
  font: 10px sans-serif;
  height: 400px;
  text-shadow: none;
  width: 650px;
  margin-left: auto;
  margin-right:auto;
}
#pie-chart-warranties .total{
  font-size: 18px;
  font-weight: bold;
}
#pie-chart-warranties .units{
  fill: gray;
  font-size: 12px;
}
#pie-chart-warranties .label{
  fill: #CCC;
  font-size: 12px;
  font-weight: bold;
}
#pie-chart-warranties .value{
  font-size: 18px;
  font-weight: bold;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 17px sans-serif;
    padding: 5px;
    text-align: center;
}

#chart-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

#div-pie-chart-warranties {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#div-pie-chart-businesses {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#div-pie-chart-categories {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}