body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

/*.container-fluid {
  margin-top: 30px;
}*/

body.initialPage,
body.signUp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

div.container {
  margin-left: 0px;
}

a {
  color: #00B7FF;
}

.btn.btn-primary.initialPage,
.btn.loginPage {
  margin: 10px;
}

h1.initialPage, 
h1.login,
h1.signUp,
div.btnContainer.initialPage,
div.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.containerSignUp,
div.containerLogIn {
  margin-left: 20vw;
  margin-right: 20vw;
}
